body {
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Helvetica Neue", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  background-color: #f8f9fa;
}

p.loading {
  color: #444444;
  text-align: center;
}

h1.not-found {
  font-size: 36px;
  font-weight: 700;
  color: #9e0505;
  margin-bottom: 60px;
  text-align: center;
}

p.not-found {
  font-size: 18px;
  color: #444444;
  line-height: 28px;
  margin-bottom: 16px;
  text-align: center;
}
